{% extends "master.html" %}

{% block content %}
<html>
<body>

<div class="container mt-3">
    <h2>Inventory</h2>

    {% if request.user.is_authenticated %}
        <form method="GET" action="">
            <div class="mb-3">
                <label for="location" class="form-label">Select Location</label>
                <select class="form-select" id="location" name="location" onchange="this.form.submit()">
                    <option value="">All Locations</option>
                    {% for local in accessible_locations %}
                        <option value="{{ local }}" {% if location == local %}selected{% endif %}>{{ local }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="serial_num" class="form-label">Search by serial number</label>
                <input type="number" class="form-control" id="serial_num" name="serial_num" placeholder="Enter serial number" value="{{ serial_num }}">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>

        <table class="table mt-3">
            <thead class="table-dark">
            <tr>
                <th class="text-nowrap" style="width: 5%;">Serial #</th>
                <th class="text-nowrap" style="width: 5%;">Part #</th>
                <th style="width: 10%;">Item type</th>
                <th class="text-nowrap" style="width: 5%;">User ID</th>
                <th style="width: 10%;">Location</th>
                <th style="width: 15%;">Date added</th>
                <th style="width: 15%;">Last modified</th>
                <th style="width: 15%;">Description</th>
                <th style="width: 15%;">Madlibs</th>
                <th style="width: 15%;">Image</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.serial_num }}</td>
                    <td>{{ item.part_num }}</td>
                    <td>{{ item.item_type }}</td>
                    <td>{{ item.user_ID }}</td>
                    <td>{{ item.location }}</td>
                    <td>{{ item.date_added }}</td>
                    <td>{{ item.last_modified }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.madlibs }}</td>
                    {% comment %} <td>{{ item.image }}</td> {% endcomment %}
                    <td>
                        {% if item.image %}
                            <img src="{{ item.image.url }}" class="img-fluid" alt="Image">
                        {% else %}
                            <p>No image available</p>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="col-md-8 text-center">
            <p class="text-danger">You must be logged in to view the inventory.</p>
        </div>
        <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
    {% endif %}
</div>

</body>
</html>
{% endblock %}